PORT=3000

# Login defaults (can be overridden later via Telegram commands)
ME_USER=aku
ME_PASS=sayang123
PARTNER_USER=kamu
PARTNER_PASS=bucin123

# Telegram bot config
TELEGRAM_BOT_TOKEN=123456:ABCDEF...
TELEGRAM_CHAT_IDS=111111111,222222222
